[Unit]
Description=Cardano Node Service
After=network.target

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/usr/local/lib
WorkingDirectory={{ cardano_devnet_path }}
ExecStart={{ cardano_devnet_path }}/scripts/automate.sh

PIDFile={{ cardano_node_pidfile }}
TimeoutStopSec=0
Restart=always
RestartSec=5
User={{ cardano_user }}
Group={{ cardano_group }}
RuntimeDirectory={{ cardano_service_name }}
RuntimeDirectoryMode=2775

ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
Alias={{ cardano_service_name }}.service
